.app {
    background-color: $background-color-app;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100vh;
}

.game {
    width: 650px;
    box-shadow: 0 0 0 1px rgb(240, 240, 240);
    border-radius: 2px;
    &__map {
        height: 400px;
        width: 100%;
    }
    &__dashboard {
        height: 50px;
        background-color: $background-color-header-footer;
    }
    &__toolbar {
        height: 50px;
        background-color: $background-color-header-footer;
    }
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    &__item {
        width: 33.33%;
        height: 25px;
        text-align: center;
    }
}
